@model Page;
@{
	var pagesHeader = ViewData["pagesHeader"] as Page[];
	var pagesWC = ViewData["pagesWC"] as Page[];
	var pagesESport = ViewData["pagesESport"] as Page[];
	var pagesRace = ViewData["pagesRace"] as Page[];
	int i = 0;
} 
<div class="hero-area">
	<!-- Hero Slides Area -->
	<div class="hero-slides owl-carousel">

	@foreach (var page in pagesHeader)
	{
		<div class="single-hero-slide bg-img background-overlay" style="background-image: url(@(page.media.source));"></div>
	}

		
	</div>
	<!-- Hero Post Slide -->
	<div class="hero-post-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="hero-post-slide">
					@foreach (var page in pagesHeader){
						@(i=i+1)
						<div class="single-slide d-flex align-items-center">
							<div class="post-number">
								<p>@i</p>
							</div>
							<div class="post-title">
								<a href="@(page.slug)">@(page.title)</a>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ********** Hero Area End ********** -->
<div class="main-content-wrapper section-padding-100">
	<div class="container">
		<div class="row justify-content-center">
			<!-- ============= Post Content Area Start ============= -->
			<div class="col-12 col-lg-8">
				<div class="post-content-area mb-50">
					<!-- Catagory Area -->
					<div class="world-catagory-area">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="title">Tin mới</li>
							<li class="nav-item">
								<a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab"
									 aria-controls="world-tab-1" aria-selected="true">World Cup</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab"
									 aria-controls="world-tab-2" aria-selected="false">E-Sports</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab3" data-toggle="tab" href="#world-tab-3" role="tab"
									 aria-controls="world-tab-3" aria-selected="false">Đua xe</a>
							</li>							
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="world-catagory-slider owl-carousel wow fadeInUpBig" data-wow-delay="0.1s">
											<!-- Single Blog Post -->
											@foreach (Page item in pagesWC)
											{
												<div class="single-blog-post">
													<!-- Post Thumbnail -->
													<div class="post-thumbnail">
														<img src="@(item.media.source)" alt="@(item.media.altText)">
															<!-- Catagory -->
														<div class="post-cta">
															<a href="@(item.slug)">@(item.category.title)</a>
														</div>

														<!-- Post Content -->
														<div class="post-content">
															<a href="@(item.slug)" class="headline">
																<h5>@(item.title)</h5>
															</a>
															<p>@(item.description)</p>
															<!-- Post Meta -->
															<div class="post-meta">
																<p class="post-author"> <i class="bi bi-eye-fill"></i> @(item.views) lượt xem</p>
																<p class="post-date">@(item.createdAt.ToString("dddd, dd MMMM yyyy"))</p>
															</div>
														</div>
													</div>
												</div>
											}
										</div>
									</div>
									<div class="col-12 col-md-6">
										<!-- Single Blog Post -->
									@foreach (Page item in pagesWC)
										{
										<div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig"
												 data-wow-delay="0.2s">
											<!-- Post Thumbnail -->
											<div class="post-thumbnail">
												<img src="@(item.media.source)" alt="@(item.media.altText)">
											</div>
											<!-- Post Content -->
											<div class="post-content">
												<a href="@(item.slug)" class="headline">
													<h5>@(item.title)</h5>
												</a>
												<!-- Post Meta -->
												<div class="post-meta">
															<p class="post-author"> <i class="bi bi-eye-fill"></i> @(item.views) lượt xem</p>
														<p class="post-date">@(item.createdAt.ToString("dddd, dd MMMM yyyy"))</p>
												</div>
											</div>
										</div>
										}
								</div>
							</div>
							</div>
							<div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
								<div class="row">
									<div class="col-12 col-md-6">
										<!-- Single Blog Post -->
										@foreach (Page item in pagesESport)
											{
												<div class="single-blog-post">
													<!-- Post Thumbnail -->
												<div class="post-thumbnail">
														<img src="@(item.media.source)" alt="">
														<!-- Catagory -->
													<div class="post-cta"><a href="@(item.slug)">@(item.category.title)</a></div>
													</div>
													<!-- Post Content -->
												<div class="post-content">
														<a href="@(item.slug)" class="headline">
															<h5>@(item.title)</h5>
														</a>
														<p>@(item.description)</p>
														<!-- Post Meta -->
														<div class="post-meta">
															<p class="post-author"> <i class="bi bi-eye-fill"></i> @(item.views) lượt xem</p>
															<p class="post-date">@(item.createdAt.ToString("dddd, dd MMMM yyyy"))</p>
														</div>
													</div>
												</div>
											}
									</div>
									<div class="col-12 col-md-6">
										<!-- Single Blog Post -->
										@foreach (Page item in pagesESport)
										{
										<div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig"
												 data-wow-delay="0.2s">
											<!-- Post Thumbnail -->
											<div class="post-thumbnail">
												<img src="@(item.media.source)" alt="@(item.media.altText)">
											</div>
											<!-- Post Content -->
											<div class="post-content">
												<a href="@(item.slug)" class="headline">
													<h5>@(item.title)</h5>
												</a>
												<!-- Post Meta -->
												<div class="post-meta">
													<p class="post-author"> <i class="bi bi-eye-fill"></i> @(item.views) lượt xem</p>
													<p class="post-date">@(item.createdAt.ToString("dddd, dd MMMM yyyy"))</p>
												</div>
											</div>
										</div>
										}
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
								<div class="row">
									<div class="col-12 col-md-6">
										<!-- Single Blog Post -->
										@foreach (Page item in pagesRace)
											{
												<div class="single-blog-post">
													<!-- Post Thumbnail -->
												<div class="post-thumbnail">
														<img src="@(item.media.source)" alt="">
														<!-- Catagory -->
													<div class="post-cta"><a href="@(item.slug)">@(item.category.title)</a></div>
													</div>
													<!-- Post Content -->
												<div class="post-content">
														<a href="@(item.slug)" class="headline">
															<h5>@(item.title)</h5>
														</a>
														<p>@(item.description)</p>
														<!-- Post Meta -->
														<div class="post-meta">
															<p class="post-author"> <i class="bi bi-eye-fill"></i> @(item.views) lượt xem</p>
															<p class="post-date">@(item.createdAt.ToString("dddd, dd MMMM yyyy"))</p>
														</div>
													</div>
												</div>
											}
									</div>
									<div class="col-12 col-md-6">
										<!-- Single Blog Post -->
										@foreach (Page item in pagesRace)
										{
										<div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig"
												 data-wow-delay="0.2s">
											<!-- Post Thumbnail -->
											<div class="post-thumbnail">
												<img src="@(item.media.source)" alt="@(item.media.altText)">
											</div>
											<!-- Post Content -->
											<div class="post-content">
												<a href="@(item.slug)" class="headline">
													<h5>@(item.title)</h5>
												</a>
												<!-- Post Meta -->
												<div class="post-meta">
													<p class="post-author"> <i class="bi bi-eye-fill"></i> @(item.views) lượt xem</p>
													<p class="post-date">@(item.createdAt.ToString("dddd, dd MMMM yyyy"))</p>
												</div>
											</div>
										</div>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ========== Sidebar Area ========== -->
			<div class="col-12 col-md-8 col-lg-4">
				<div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
					<!-- Widget Area -->
					<div class="sidebar-widget-area">
						<h5 class="title">Tin HOT</h5>
						<div class="widget-content" id="hot-news">
							<!-- Single Blog Post -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="world-latest-articles">
			<div class="row">
				<div class="col-12" id="all_news">
					<div class="title" >
						<h5>Tổng hợp</h5>
					</div>
				</div>
			</div>
		</div>
		<!-- Load More btn -->
		<div class="row">
			<div class="col-12">
				<div class="load-more-btn mt-50 text-center">
					<a href="#" id="load-more" class="btn world-btn">Xem thêm</a>
				</div>
			</div>
		</div>
	</div>
</div>
